@page
@model FilmesCRUDRazor.Pages.Filme.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Top Movie</h1>
<div class="container">
    <div class="row">

        <p>
            <span class="btn btn-primary" asp-page="Create"><span class="glyphicon glyphicon-plus"></span> Create Film
                </a>
        </p>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Film[0].Title)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Film[0].DateLaunch)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Film[0].Gender)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Film[0].Price)
                        </th>
                        <th class="text-center"> Actions </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Film)
                    {
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.DateLaunch)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td class="text-center">
                                <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.FilmId"><span
                                    class="glyphicon glyphicon-pencil"> </span> Edit</a> |
                                <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.FilmId"> <span
                                    class="glyphicon glyphicon-plus">
                                    </span>Details</a> |
                                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.FilmId"><span
                                    class="glyphicon glyphicon-minus"></span>Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>